/* Write your CSS here */
.checkOut {
  background-color: #4a6ded;
  border: 0px;
  color: #ffffff;
  padding: 10px;
}
.summaryContainer {
  margin: 25px;
}
.trigger-button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: #7c69e9;
  border: none;
  border-radius: 4px;
  outline: none;
}
.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 80vw;
  background-color: rgb(200, 236, 236);
  border-radius: 25px;
}
